<p id="notice"><%= notice %></p>

<h3>
  <%= @user[:screenname]  %>
  <small class="text-muted">
    @<%= @user[:username]  %>
  </small>
</h3>

<% if @user[:admin] %>
  <span class="badge badge-primary">administrator</span>
<% end %>
<p>
<% if user_me? %>
<button type="button" class="btn btn-secondary">
  edit profile
</button>
<% else %>
<button type="button" class="btn btn-primary">
  Follow
</button>
<% end %>
</p>

<p>
  <%= @user[:profile]  %>
</p>
