<h4><b>pseudo social</b>: a simple SNS for study</h4>

<p>This product is an Open Source: <a href='https://github.com/k-mrm/pssocial'>github.com/k-mrm/pssocial</a></p>

<h5> New to pssocial? <%= link_to 'signup', signup_path %> </h5>
<h5> <%= link_to 'login', login_path %> </h5>
